<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Atlass</title>
    <link
      rel="stylesheet"
      href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>Login</h2>
        <form
          action="/"
          method="post">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required />
          <button type="submit">Login</button>
        </form>
        <a
          style="
            text-align: center;
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: center;
          "
          href="/sign"
          >Don't have account? Sign Up</a
        >
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
